/* ====== STYLOS GERIAS ====== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #10772a;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  gap: 10px;
}

.flex2 {
  display: flex;
  gap: 30px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
  padding: 2px 0;
}
.column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.red {
  background-color: red;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* ========= INPUTS */

.column2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.column2 .label {
  font-size: 15px;
  padding-left: 5px;
  position: absolute;
  top: 8px;
  transition: 0.3s;
  pointer-events: none;
  color: #000;
}
.label{
  padding-left: 5px;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  padding: 7px 2px;
  border-radius: 6px;
  color: #000;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid transparent;
}

.input:focus {
  border: 1px solid transparent;
  color: black;
}
input:valid {
  padding-left: 5px;
}
.column2 .input:valid ~ .label,
.column2 .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 5px;
  transform: translateY(-28px);
  color: #fff;
  font-weight: bold;
}

.column2 .input:valid,
.column2 .input:focus {
  box-shadow: 3px 3px 10px rgb(0, 0, 0), 1px -1px 2px rgba(240, 252, 68, 0.452), inset 3px 3px 10px rgba(202, 212, 62, 0.39), inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

/* ============================= */
label {
  color: #fff;
}

.column4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resultado {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-bottom: 10px;
  padding: 10px 0;
}

.textarea {
  width: 90%;
  height: 100%;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  box-sizing: border-box;
}

h2 {
  color: #fff;
  text-align: center;
}

form {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/* === BOTÕES === */
.footer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  color: #fff;
}

#usoTotal {
  height: 20px;
  overflow: hidden;
  resize: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  padding: 10px 0px;
  padding-left: 5px;
  border-radius: 5px;
}
.menu-item {
  font-size: 17px;
  color: #000;
  background-color: #ffd712;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0px 3px 0px #000;
  transition: all 0.1s;
}

.menu-item:active {
  box-shadow: 0px 2px 0px #000;
  position: relative;
  top: 2px;
}

.menu-item:hover {
  background-color: #ffd712;
}
.gray {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

.btnCopy {
  width: auto;
  padding: 0 10px;
  height: 35px;
}

.btnDel {
  width: auto;
  padding: 0 10px;
  height: 35px;
  color: #fff;
  background-color: black;
}

.btnDel:hover {
  background-color: red;
}
.flexBtn {
  width: 100%;
  display: flex;
  gap: 5px;
}
/* ========= DESCRIÇÕES ========= */

.fieldset {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  border: 1px solid #ccc;
}

.fieldset legend {
  align-items: start;
  text-align: start;
}

.left {
  display: flex;
  align-items: start;
  text-align: start;
  justify-content: start;
}
.rightBox {
  width: 50%;
}

legend {
  color: #000;
  background-color: #ffd712;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 4px;
}

/* ==================================== */

.gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.matriz {
  margin: 0;
}
.padding {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.status {
  padding: 4px;
  border: none;
  border-radius: 3px;
  outline: none;
  border: 2px solid transparent;
}
.btnAdd {
  background-color: #ffd712;
  font-weight: bold;
  border: none;
  border: 2px solid transparent;
  padding: 3px 8px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.taxas {
  padding: 5px 60px;
  border: none;
  border-radius: 3px;
  outline: none;
  border: 2px solid transparent;
}
.spc {
  padding: 5px;
  border: none;
  border-radius: 3px;
  outline: none;
  border: 2px solid transparent;
}

.taxas:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.25);
}

/* ===== RESPONSIVO ===== */
@media screen and (max-width: 815px) {
  .fieldset legend {
    text-align: center;
  }
  .box {
    width: 90%;
  }

  .flex2 {
    width: 100%;
    flex-direction: column;
  }

  form {
    width: 100%;
    align-items: center;
  }
  .leftBox {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .rightBox {
    width: 100%;
    height: 200px;
  }
  .fieldset {
    align-items: center;
  }

  .column {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 610px) {
  .box {
    width: 90%;
  }
  .respons {
    flex-direction: column;
    align-items: center;
  }
  .flexColumn {
    flex-direction: column;
  }
}

@media screen and (max-width: 490px) {
  .container {
    height: auto;
  }

  .flex {
    flex-direction: column;
  }

  .fieldset {
    text-align: center;
    align-items: center;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
