body {
    font-family: Arial, sans-serif;
    background-color: #10772a;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #10772a; /* Cor verde */
    text-align: center;
    padding: 20px 0; /* Aumenta o padding para espaçamento vertical */
    margin-bottom: 20px;
}

.header .logo {
    height: 50px;
    width: auto;
    margin-top: 10px; /* Espaçamento superior para a logo */
}

.container {
    background-color: #10772a; /* Fundo verde para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 0 auto; /* Centraliza o container na página */
}

h1 {
    color: #fff; /* Texto branco */
    margin: 0;
}

h2 {
    color: #ffd712; /* Cor amarela */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd712; /* Cor amarela */
    color: #000; /* Preto */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #e6b800; /* Amarelo mais escuro ao passar o mouse */
}

#resultado {
    margin-top: 20px;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer .menu-item {
    margin-right: 10px;
}
