* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.title {
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #10772a;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #fff;
  margin: 0;
  text-shadow: #000000 2px 2px 2px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* .menu2 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
} */
.line {
  width: 90%;
  border: 2px solid #fff;
  margin: 20px 0;
}
p {
  color: #fff;
  font-weight: bold;
  text-shadow: #000000 2px 2px 2px;
}

.btn {
  width: 85%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffd712;
  color: #000;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #000;
}

.btn:hover {
  background-color: #e6b800;
}

.img {
  border-radius: 15px;
  width: 100px;
  padding: 20px;
  background-color: #e6b800;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: 2px solid #000;
}

.img:hover {
  transform: scale(1.1);
  border: 2px solid red;
}

.flex {
  margin-top: 10px;
  width: 100%;
}
@media screen and (max-width: 845px) {
  .box {
    width: 90%;
  }
}
@media screen and (max-width: 615px) {
  .container{
    height: auto;
    padding: 20px 0;
  }
  .box{
    padding: 10px 20px;
  }
  .menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
}
