body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #10772a; /* Cor verde */
    text-align: center;
    padding: 20px 0; /* Aumenta o padding para espaçamento vertical */
    margin-bottom: 20px;
}

.container {
    background-color: #10772a; /* Fundo verde para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff; /* Texto branco */
    margin: 0;
}

h2 {
    color: #ffd712; /* Cor amarela */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Garante que o formulário use toda a largura disponível */
    max-width: 400px; /* Limita a largura máxima do formulário */
    align-items: flex-end; /* Alinha os itens do formulário à direita */
}

form div {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espaço entre o label e o input */
    align-items: center;
    color: #fff; /* Texto branco */
}

.menu {
    display: flex;
    flex-direction: column; /* Alinha os botões um abaixo do outro */
    gap: 10px;
    width: 100%; /* Garante que o menu use toda a largura disponível */
    align-items: center; /* Centraliza os botões horizontalmente */
}

.menu-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd712; /* Cor amarela */
    color: #000; /* Preto */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Garante que os botões usem toda a largura disponível */
    max-width: 200px; /* Limita a largura máxima dos botões */
}

.menu-item:hover {
    background-color: #e6b800; /* Amarelo mais escuro ao passar o mouse */
}

#resultado {
    margin-top: 20px;
    text-align: right; /* Alinha o resultado à direita */
    color: #fff; /* Texto branco */
}

.footer {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaço entre os botões */
}

.footer .menu-item {
    margin: 0; /* Remove o margin-right para que os botões fiquem lado a lado */
}
