body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #10772a; /* Fundo verde para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 0 auto; /* Centraliza o container na página */
    text-align: center; /* Centraliza conteúdo dentro do container */
}

.containerC {
    background-color: #10772a; /* Fundo verde para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 0 auto; /* Centraliza o container na página */
    text-align: left; /* Centraliza conteúdo dentro do container */
}

h1 {
    color: #fff; /* Texto branco */
    margin: 0 0 20px; /* Espaçamento inferior */
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Centraliza os botões */
}

.menu-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd712; /* Cor amarela */
    color: #000; /* Texto preto */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #e6b800; /* Amarelo mais escuro ao passar o mouse */
}
