*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #10772a;
}

.btn {
    text-decoration: none;
    padding: 10px;
    background-color: #ffd712;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;

}
.btn:hover{
    background-color: #63561a;
}